@model BusinessEntities.ActorEntity

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>ActorEntity</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ActorId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ActorId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Sex)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Sex)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DOB)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DOB)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Bio)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Bio)
    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ActorId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
